---
wrong_level:
  type: String
attributes:
  heading:
    type: string
    default: "Hello world"
layout:
  - label: "Content"
    type: tab
    elements:
      - heading
---

<h1>{{ heading }}</h1>
