---
max_item_levels: 2
supports_open_new_tab: true
attributes:
  my_title:
    type: string
  my_color:
    type: color
    label: My color
    hint: "Select your favourite color"
---

<nav>
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Contact</a>
</nav>
