---
attributes:
  heading:
    type: string
    default: "Hello world"
  subheading:
    type: string
  form_snippet:
    type: string
    hint: Configure a form with a third-party. Codes often begin with `<frame>` or `<script>`
  image:
    label: "My image"
    type: image
  color:
    type: boolean
    label: Update colours
  card_background_color:
    type: color
    label: Card background colour
layout:
  - label: "Content"
    type: tab
    elements:
      - name: heading
        type: attribute
      - subheading
      - unknown
      - type: accordion
        label: Booking card styles
        elements:
          - type: accordion_toggle
            toggle_attribute: color
            elements:
              - card_background_color
---

<h1>{{ heading }}</h1>
